[submodule "Library/Omise"]
	path = Library/Omise
	url = https://github.com/omise/omise-ios.git
[submodule "Library/SDWebImage"]
	path = Library/SDWebImage
	url = https://github.com/rs/SDWebImage.git
